<div class="card">
    <div class="card-body">
        <h1>Hola soy Pablo Roman... te invito a que visites <a href="https://www.linkedin.com/in/pablo-roman-321981150/"> Mi Linkedin </a></h1>
        
    </div>
</div>