<div class="card">
    <div class="card-body">
        <h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid debitis repellendus temporibus! Ut explicabo quas culpa qui iste saepe blanditiis? Natus voluptatum unde veritatis facilis fuga autem laudantium maxime porro harum odit nemo, sequi repellat animi fugit iure quae qui.</p>
        </h1>
    </div>
</div>