<div class="jumbotron mt-4">
    <h1 class="display-4">note app nodejs and mongoDB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam quae magnam accusamus vitae quaerat molestiae nesciunt deserunt enim commodi beatae ea non maiores corrupti eveniet tempore, cumque quidem aliquid totam!</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">google</a>
</div>