<div class="jumbotron mt-4">
    <h1 class="display-4">Bloc de notas con Node.js y MongoDB</h1>
    <p class="lead">Esta aplicacion muestra operaciones CRUD con Node.js</p>
    <hr class="my-4">
    <p>CRUD es el acrónimo de "Crear, Leer, Actualizar y Borrar", que se usa para referirse a las funciones básicas en bases de datos o la capa de persistencia en un software.</p>
    <a href="https://github.com/pabloroman94/BlocNotas.git" class="btn btn-primary btn-lg">Codigo fuente en GitHub</a>
</div>